.chat__modal {
  .base-modal__header-title {
    text-transform: uppercase;
  }

  .base-input__input {
    font-size: 1.4rem;
  }

  .form {
    &__error {
      margin: 0 0 1.5rem;
      padding: 1rem;
      background-color: var(--color-danger);
      border-radius: 0.4rem;
      color: var(--color-white);
      font-size: 1.4rem;
      line-height: normal;
    }

    &__row {
      &:not(:first-child) {
        margin-top: 2rem;
      }

      &--submit {
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
      }

      &--checkbox {
        font-size: 1.4rem;

        input {
          display: none;

          &:checked + label::after {
            content: '\e876';
            font-family: 'Material Icons';
            position: absolute;
            top: 1px;
            left: 2px;
            font-size: 1.4rem;
            color: var(--color-primary);
          }
        }

        label {
          display: inline-block;
          position: relative;
          padding-left: 2.4rem;
          line-height: normal;
          cursor: pointer;

          &::before {
            content: '';
            width: 1.8rem;
            aspect-ratio: 1;
            border: 2px solid var(--color-primary);
            border-radius: 0.4rem;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }

  &.base-modal--add-chat-image {
    .form {
      &__head {
        text-align: center;
      }

      &__text {
        margin: 0 0 2rem;
      }

      .file-upload {
        margin: 0;
      }
    }
  }
}

.dark .chat__modal {
  .base-input__input {
    &:not(:focus) {
      border-color: var(--color-dark-gray2);
    }
    background-color: var(--color-dark-gray2);
    color: var(--color-light-gray);
  }
}
