.products-list {
  &__empty {
    margin-top: 10rem;
    text-align: center;
  }

  &__category {
    font-size: 1.8rem;
    line-height: normal;
    margin: 0 0 1.5rem;
  }

  &__list {
    margin: 0 0 3rem;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    align-items: start;
    column-gap: 1rem;
    row-gap: 2rem;
  }

  &__list-item {
    background-color: var(--color-white);
    box-shadow: 0px 0.2rem 1.2rem rgba($color-black, 0.05);
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  &__product-name {
    color: var(--color-black);
    padding: 1.3rem 1.5rem;
    line-height: normal;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: var(--color-light-gray2);
    }

    &--not-completed {
      text-decoration: line-through;
    }
  }

  &__add-to-list {
    color: var(--color-light-gray3);
    padding: 1.1rem 0.7rem;
    background-color: transparent;
    border: 0;
    display: flex;
    flex: 0 0 auto;

    .material-icons {
      font-size: 2rem;
    }

    &:hover,
    &:focus {
      background-color: var(--color-primary);
      color: var(--color-white);
      cursor: pointer;
    }
  }

  &__quantity {
    color: var(--color-primary);
    font-size: 1.2rem;
    line-height: normal;
    flex: 0 0 auto;
    padding: 1.5rem 1.5rem 0 1rem;

    &--not-completed {
      text-decoration: line-through;
    }
  }
}

.dark .products-list {
  &__search {
    .base-input__input {
      box-shadow: 0px 0.2rem 1.2rem rgba($color-white, 0.1);
    }
  }

  &__list-item {
    background-color: var(--color-dark-gray2);
  }

  &__product-name {
    color: var(--dark-text-color);

    &:hover,
    &:focus {
      background-color: var(--color-dark-gray3);
    }
  }
}

@media screen and (min-width: $breakpoint-big) {
  .products-list {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .products-list {
    &__list {
      column-gap: 2rem;
      row-gap: 3rem;
      margin-bottom: 4.5rem;
    }

    &__product-name {
      font-size: 1.6rem;
    }

    &__add-to-list {
      padding-top: 1.3rem;
    }

    &__quantity {
      padding-top: 1.7rem;
    }
  }
}

@media screen and (min-width: $breakpoint-very-large) {
  .products-list {
    &__list {
      grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    }
  }
}
