*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
}

html {
  font-size: 62.5%; // 10px
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--body-background-color);
  font-family: var(--font-noto);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: var(--text-color);
  min-height: 100vh;

  &.dark {
    background: var(--dark-body-background-color);
    color: var(--dark-text-color);
  }
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

#app {
  min-height: 100vh;
}
