.font-300 {
  font-weight: 300;
}

.font-400 {
  font-weight: 400;
}

.font-500 {
  font-weight: 500;
}

.font-600 {
  font-weight: 600;
}

.font-700 {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-gray {
  color: var(--color-gray);
}

.text-danger {
  color: var(--color-danger);
}

.text-pre {
  white-space: pre;
}
