.profile {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.2rem 2rem;
    gap: 5rem;
    border-bottom: 1px solid var(--color-light-gray2);

    h2 {
      font-size: 2.4rem;
      margin: 0;
    }

    p {
      font-size: 1.3rem;
      margin: 0.5rem 0 0;
      line-height: normal;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0;
    line-height: normal;

    dt {
      font-size: 1.3rem;
      color: var(--color-light-gray);
      text-transform: uppercase;
      border-bottom: 1px solid var(--color-light-gray2);
      padding: 1.5rem 0 1.5rem 2.2rem;
      display: flex;
      align-items: center;
    }

    dd {
      margin: 0;
      border-bottom: 1px solid var(--color-light-gray2);
      padding: 1.5rem 2.2rem 1.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      span {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .user-image {
      width: 7.2rem;
    }
  }

  &__body-row {
    border-bottom: 1px solid var(--color-light-gray2);
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;

    &--photo {
      .user-image {
        width: 7.2rem;
        position: relative;

        &:hover::before {
          content: '\e439';
          font-family: 'Material Icons';
          font-size: 2.4rem;
          position: absolute;
          inset: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          color: var(--color-white);
          background-color: rgba($color-black, 0.2);
          cursor: pointer;
        }
      }
    }

    &--form {
      .form {
        width: 100%;
        max-width: 41.5rem;

        &__row {
          margin-bottom: 1.5rem;

          &--submit {
            margin-bottom: 0;
          }
        }

        &__error {
          margin: 0 0 1.5rem;
          padding: 1rem;
          background-color: var(--color-danger);
          border-radius: 0.4rem;
          color: var(--color-white);
          font-size: 1.4rem;
          line-height: normal;
        }
      }
    }

    &--email {
      flex-wrap: wrap;

      .base-input {
        width: 100%;
        max-width: 41.5rem;
      }
    }
  }
}

.dark .profile {
  &__header {
    border-color: var(--color-dark-gray2);
  }

  &__details {
    dt {
      border-color: var(--color-dark-gray2);
    }

    dd {
      border-color: var(--color-dark-gray2);
    }
  }

  &__body-row {
    border-bottom: 1px solid var(--color-dark-gray2);
  }
}

@media screen and (min-width: $breakpoint-large) {
  .profile {
    &__header {
      padding: 2.8rem 4.9rem;
    }

    &__details {
      dt {
        padding-left: 4.9rem;
        min-height: 7rem;
      }

      dd {
        justify-content: flex-start;
        font-size: 1.8rem;
        padding-right: 4.9rem;
        min-height: 7rem;
      }
    }

    &__body-row {
      padding: 2rem 4.9rem;
    }
  }
}
