.base-btn {
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--color-gray);
  border-radius: 0.8rem;
  padding: 0.8rem 2.4rem 0.9rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 200ms;

  &:hover,
  &:focus {
    background-color: darken($color-white, 8);
    outline: 0;
    text-decoration: none;
  }

  &:active {
    box-shadow: 2px 2px 3px rgba($color-black, 0.2);

    .dark & {
      box-shadow: 2px 2px 3px rgba($color-white, 0.2);
    }
  }

  &:disabled {
    &,
    &:hover,
    &:focus {
      background-color: var(--color-white);
      opacity: 0.6;
      cursor: default;
    }
  }

  &__icon {
    font-size: 1.6rem;

    & + span {
      margin-left: 0.8rem;
    }
  }

  &--size-small {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 1.1rem 1.3rem;
  }

  &--variant-link {
    border: 0;
    color: var(--color-dark-gray2);
  }

  &--circle {
    padding: 1rem;
    border-radius: 50%;
    aspect-ratio: 1;
  }

  &--primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);

    &:hover,
    &:focus {
      background-color: darken($color-primary, 8);
      border-color: darken($color-primary, 8);
    }

    &:disabled {
      &,
      &:hover,
      &:focus {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
      }
    }

    &.base-btn--variant-link {
      background-color: var(--color-white);
      color: var(--color-primary);

      &:hover,
      &:focus {
        background-color: lighten($color-primary, 40);
      }
    }
  }

  &--danger {
    background-color: var(--color-danger);
    color: var(--color-white);
    border-color: var(--color-danger);

    &:hover,
    &:focus {
      background-color: darken($color-danger, 8);
      border-color: darken($color-danger, 8);
    }

    &:disabled {
      &,
      &:hover,
      &:focus {
        background-color: var(--color-danger);
        border-color: var(--color-danger);
      }
    }

    &.base-btn--variant-link {
      background-color: var(--color-white);
      color: var(--color-danger);

      &:hover,
      &:focus {
        background-color: lighten($color-danger, 33);
      }
    }
  }
}

.dark .base-btn {
  &--default {
    background-color: var(--color-dark-gray);

    &:hover,
    &:focus {
      background-color: darken($color-dark-gray, 8);
    }

    &:disabled {
      &,
      &:hover,
      &:focus {
        background-color: var(--color-dark-gray);
      }
    }
  }

  &--variant-link {
    color: var(--color-light-gray2);
  }

  &--primary {
    &.base-btn--variant-link {
      background-color: var(--color-dark-gray);
      color: var(--color-primary);
    }

    &:hover,
    &:focus {
      background-color: darken($color-dark-gray, 8);
    }
  }

  &--danger {
    &.base-btn--variant-link {
      background-color: var(--color-dark-gray);
      color: var(--color-danger);
    }

    &:hover,
    &:focus {
      background-color: darken($color-dark-gray, 8);
    }
  }
}
