$breakpoint-large: 80rem;
$breakpoint-medium: 35rem;

.header {
  padding: 0 0 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;

  &__logo {
    .logo {
      height: 1.8rem;
      display: block;
    }
  }

  &__user {
    position: relative;

    &--open {
      .header__user-dropdown-arrow {
        transform: translate(0, 0.1rem) rotate(180deg);
      }
    }
  }

  &__user-info {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:focus {
      color: var(--color-primary);
    }
  }

  &__user-image {
    width: 3.2rem;
  }

  &__user-name {
    max-width: 15rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: normal;
    margin: 0 1.5rem 0 1rem;
    display: none;
  }

  &__user-dropdown-arrow {
    width: 0;
    height: 0;
    border-top: 0.5rem solid currentColor;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    transform: translate(0, 0.1rem);
    display: none;
  }

  &__user-dropdown {
    background-color: var(--color-white);
    border: 1px solid var(--color-light-gray2);
    border-radius: 1.2rem;
    padding: 1.5rem 1.2rem;
    box-shadow: 0px 0.2rem 0.4rem rgba($color-black, 0.05);
    min-width: 19rem;
    position: absolute;
    right: 0;
    top: 150%;
  }

  &__user-dropdown-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__user-dropdown-listitem {
    & + & {
      margin-top: 0.4rem;
    }

    &--line {
      border-top: 1px solid var(--color-light-gray2);
    }
  }

  &__user-dropdown-link {
    width: 100%;
    justify-content: flex-start;
  }
}

.dark .header {
  &__user-dropdown {
    background-color: var(--color-dark-gray);
    border-color: var(--color-dark-gray2);
    box-shadow: 0px 0.2rem 0.4rem rgba($color-white, 0.05);
  }

  &__user-dropdown-listitem {
    &--line {
      border-color: var(--color-dark-gray2);
    }
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .header {
    &__user-name {
      display: block;
    }

    &__user-dropdown-arrow {
      display: block;
    }
  }
}

@media screen and (min-width: $breakpoint-large) {
  .header {
    padding: 0 6.2rem 4rem;
  }
}
