#modals {
  position: fixed;
  inset: 0;
  z-index: 15;
  pointer-events: none;
  overflow-y: auto;

  &.modal-open {
    pointer-events: all;
  }
}

.base-modal {
  display: grid;
  grid-template-areas: 'main';
  min-height: 100vh;
  place-items: center;
  opacity: 0;
  transition: opacity 200ms linear;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0;
  overflow: hidden;

  &__background {
    grid-area: main;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.8);
    opacity: 0;
    transition: opacity 200ms linear;
  }

  &__modal {
    grid-area: main;
    z-index: 2;
    margin: 2rem 0;
    width: 90%;
    max-width: 60rem;
    background-color: var(--color-white);
    border-radius: 1.2rem;
    position: relative;
    transform: translateY(-2rem);
    transition: transform 200ms linear;
  }

  &__close {
    position: absolute;
    right: 0;
    right: 0;
    padding: 0.75rem;
  }

  &__header {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--color-light-gray2);
  }

  &__header-title {
    margin: 0;
    font-size: 1.8rem;
    line-height: normal;
  }

  &__body {
    padding: 2rem;
  }

  &__footer {
    padding: 1rem 2rem;
    border-top: 1px solid var(--color-light-gray2);
    display: flex;
    justify-content: center;
  }

  &--opened {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0ms linear;
    height: auto;

    .base-modal__background {
      opacity: 1;
    }

    .base-modal__modal {
      transform: translateY(0);
    }
  }
}

.dark {
  .base-modal {
    &__modal {
      background-color: var(--color-dark-gray);
    }

    &__header {
      border-color: var(--color-dark-gray2);
    }

    &__footer {
      border-color: var(--color-dark-gray2);
    }
  }
}
