.module-shoppingify {
  --color-primary: hsl(38, 95%, 51%);
  --color-primary-darker: hsl(38, 95%, 46%);
  --color-primary-lighter: hsl(38, 95%, 96%);
  --color-secondary: hsl(195, 86%, 64%);
  --color-secondary-darker: hsl(195, 86%, 54%);
  --color-secondary-lighter: hsl(195, 86%, 96%);
  --color-light-gray3: #c1c1c4;
  --color-dark-gray3: #454545;
  --color-light-orange: #fff0de;
  --color-purple: #80485b;

  --text-color: var(--color-black);

  --body-background-color: #f9f9f9;

  --font-quicksand: 'Quicksand', sans-serif;
  --body-font: var(--font-quicksand);
}

$color-primary: #f9a20b;
$color-secondary: #54cbf2;
$color-light-gray3: #c1c1c4;
$color-dark-gray3: #454545;

$breakpoint-very-small: 22em;
$breakpoint-small: 26em;
$breakpoint-medium: 48em;
$breakpoint-big: 64em;
